In [1]:
import pandas as pd
import numpy as np

In [13]:
d = pd.read_csv("readmission_train.csv")
d.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted,Readmitted1
0,95729076,86806809,Caucasian,Female,[70-80),[75-100),1,3,7,7,...,No,No,No,No,No,No,No,Yes,NO,NO
1,247045548,93465909,Caucasian,Male,[80-90),?,1,3,7,2,...,No,No,No,No,No,No,No,Yes,>30,YES
2,128677434,92256390,Caucasian,Female,[80-90),?,2,3,7,2,...,Up,No,No,No,No,No,Ch,Yes,>30,YES
3,291153168,59314752,Caucasian,Female,[50-60),?,1,1,7,2,...,No,No,No,No,No,No,No,No,NO,NO
4,365447378,95075865,Caucasian,Male,[60-70),?,2,13,7,4,...,Down,No,No,No,No,No,Ch,Yes,<30,YES

In [14]:
d = d.replace(to_replace ="?", 
                 value =np.nan)

In [25]:
df1.isnull().sum()*100/df1.shape[0]

race                         2.212934
gender                       0.000000
age                          0.000000
admission_type_id            0.000000
discharge_disposition_id     0.000000
admission_source_id          0.000000
time_in_hospital             0.000000
payer_code                  39.612704
medical_specialty           49.081547
num_lab_procedures           0.000000
num_procedures               0.000000
num_medications              0.000000
number_outpatient            0.000000
number_emergency             0.000000
number_inpatient             0.000000
diag_1                       0.015722
diag_2                       0.381269
diag_3                       1.418951
number_diagnoses             0.000000
max_glu_serum                0.000000
A1Cresult                    0.000000
metformin                    0.000000
repaglinide                  0.000000
nateglinide                  0.000000
chlorpropamide               0.000000
glimepiride                  0.000000
acetohexamide                0.000000
glipizide                    0.000000
glyburide                    0.000000
tolbutamide                  0.000000
pioglitazone                 0.000000
rosiglitazone                0.000000
acarbose                     0.000000
miglitol                     0.000000
troglitazone                 0.000000
tolazamide                   0.000000
insulin                      0.000000
glyburide.metformin          0.000000
glipizide.metformin          0.000000
glimepiride.pioglitazone     0.000000
metformin.rosiglitazone      0.000000
metformin.pioglitazone       0.000000
change                       0.000000
diabetesMed                  0.000000
Readmitted1                  0.000000
dtype: float64

In [18]:
d.drop(['encounter_id','patient_nbr','weight','examide', 'citoglipton', 'readmitted'], axis=1, inplace=True)

In [19]:
d.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,tolazamide,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,Readmitted1
0,Caucasian,Female,[70-80),1,3,7,7,CP,Surgery-General,64,...,No,No,No,No,No,No,No,No,Yes,NO
1,Caucasian,Male,[80-90),1,3,7,2,HM,NaN,53,...,No,No,No,No,No,No,No,No,Yes,YES
2,Caucasian,Female,[80-90),2,3,7,2,MC,NaN,15,...,No,Up,No,No,No,No,No,Ch,Yes,YES
3,Caucasian,Female,[50-60),1,1,7,2,NaN,InternalMedicine,63,...,No,No,No,No,No,No,No,No,No,NO
4,Caucasian,Male,[60-70),2,13,7,4,MD,Emergency/Trauma,70,...,No,Down,No,No,No,No,No,Ch,Yes,YES

In [21]:
df1 =d.copy()

In [23]:

df1['age'] = np.where(df1['age'] == '?', '', df1['age'])
df1['age'] = np.where(df1['age'] == '[0-10)', 5, df1['age'])
df1['age'] = np.where(df1['age'] == '[10-20)', 15, df1['age'])
df1['age'] = np.where(df1['age'] == '[20-30)', 25, df1['age'])
df1['age'] = np.where(df1['age'] == '[30-40)', 35, df1['age'])
df1['age'] = np.where(df1['age'] == '[40-50)', 45, df1['age'])
df1['age'] = np.where(df1['age'] == '[50-60)', 55, df1['age'])
df1['age'] = np.where(df1['age'] == '[60-70)', 65, df1['age'])
df1['age'] = np.where(df1['age'] == '[70-80)', 75, df1['age'])
df1['age'] = np.where(df1['age'] == '[80-90)', 85, df1['age'])
df1['age'] = np.where(df1['age'] == '[90-100)', 95, df1['age'])

In [27]:
df1.isnull().sum()

race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
insulin                     0
glyburide.metformin         0
glipizide.metformin         0
glimepiride.pioglitazone    0
metformin.rosiglitazone     0
metformin.pioglitazone      0
change                      0
diabetesMed                 0
Readmitted1                 0
dtype: int64

In [26]:
df1 = df1.replace(to_replace =np.nan, 
                 value ='missing')

In [29]:
df1.dtypes

race                        object
gender                      object
age                          int64
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
insulin                     object
glyburide.metformin         object
glipizide.metformin         object
glimepiride.pioglitazone    object
metformin.rosiglitazone     object
metformin.pioglitazone      object
change                      object
diabetesMed                 object
Readmitted1                 object
dtype: object

In [30]:
df1.to_csv("finaltrain.csv")